:root {
    --accent: #8ECAD2;
}

header {
    max-height: 150px;
}

label {
    text-align: center;
    font-weight: bolder;
}

select {
    min-width: 20rem;
}

table {
    width: 100%;
}


.container {
    min-height: 100vh;
    margin-top: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
